{% extends 'base.html.twig' %}

{% block title %} Page d'accueil {% endblock %}

{% block monTitre %}Voici la liste des animaux :{% endblock %}
{% block body %}
{% for animal in animaux %}
<div class="row align-items-center">
  <div class="col-2 text-center">
    <img src="{{asset("images/#{animal.image}")}}" class="img-fluid" alt="">
  </div>
  <div class="col-auto">
    <h2> <a href="{{path("display_animal", {'id' : animal.id})}}">{{animal.nom}}</a></h2>
    <div>{{ animal.description }}</div>
    <div>
    <a  class="btn btn-primary"href="{{path('display_famille', {'id':animal.famille.id})}}"> {{ animal.famille.libelle }}</a>
    </div>
    <div>
    Présence de l'animal sur les continents :
    {% for continent in animal.continents %}
      <a href="" class="btn btn-warning"> {{ continent.libelle }}</a>
    {% endfor %}
    </div>
    {% for dispose in animal.dispose %}
    <a href="" class="btn btn-info"> {{ dispose.personne.nom }}</a>
  {% endfor %}
  </div>
</div>
  
{% endfor %}
{% endblock %}
